<a href="https://colab.research.google.com/github/prasuna8/Thanos1221/blob/main/Python_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
n1 = np.array([[3,4,'x',6,7] , [1,2,3,4,5] , [6,4,3,2,1]])
n1

array([['3', '4', 'x', '6', '7'],
       ['1', '2', '3', '4', '5'],
       ['6', '4', '3', '2', '1']], dtype='<U21')

In [ ]:
import pandas as pd
df = pd.DataFrame({'a' : [4,3,2,6,4,3] , 'b' : [3.1,2,1,5,2,1] , 'c' : ['$1' ,'$2' , '$1' , '$8' , '$3' , '$2'] ,
                   'd' : [1,2,'x1',4,5,6]})
df

   a    b   c   d
0  4  3.1  $1   1
1  3  2.0  $2   2
2  2  1.0  $1  x1
3  6  5.0  $8   4
4  4  2.0  $3   5
5  3  1.0  $2   6

In [ ]:
df.dtypes

a      int64
b    float64
c     object
d     object
dtype: object

In [ ]:
df[['a']]

   a
0  4
1  3
2  2
3  6
4  4
5  3

In [ ]:
df[['a','c']]

   a   c
0  4  $1
1  3  $2
2  2  $1
3  6  $8
4  4  $3
5  3  $2

In [ ]:
df.loc[(1,3,5) , ]

   a    b   c  d
1  3  2.0  $2  2
3  6  5.0  $8  4
5  3  1.0  $2  6

In [ ]:
df.loc[(1,3,5) , ('a','c')]

   a   c
1  3  $2
3  6  $8
5  3  $2

In [ ]:
df.loc[1:3 ,]

   a    b   c  d
1  3  2.0  $2  2
2  2  1.0  $1  3
3  6  5.0  $8  4

In [ ]:
df.loc[1:3 , 'a':'c']

   a    b   c
1  3  2.0  $2
2  2  1.0  $1
3  6  5.0  $8

In [ ]:
df.dtypes

a      int64
b    float64
c     object
d     object
dtype: object

In [ ]:
df.shape

(6, 4)

In [ ]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
dft = pd.read_csv('https://bit.ly/kaggletrain')
dft.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
dft.shape

(891, 12)

In [ ]:
dft.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
#Categorical >> Numerical or non numerical
#Non-Categorical >> Numerical or non numerical

print(dft['Survived'].unique())
print(dft['Pclass'].unique())
#print(dft['Name'].unique())
print(dft['Sex'].unique())

[0 1]
[3 1 2]
['male' 'female']

In [ ]:
print(dft['Age'].unique())

[22.   38.   26.   35.     nan 54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]

In [ ]:
#known number of category in a data column
#>> We can find number of samples in each category
#>> We can do data filtering

In [ ]:
#value_counts()
dft['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
dft['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
dft['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
#data filteration :- seperate data of survivals and non-survivals
dft0 = dft[dft['Survived'] == 0]       #sample where passengers couldn't survived
dft1 = dft[dft['Survived'] == 1]        #sample where passengers survived

In [ ]:
#identify the passengers travelling in class 2>>>>